# Database Configuration
# DATABASE=your_database_name
# USER=postgres
# PASSWORD=your_database_password
# HOST=localhost
# DB_PORT=
EXTERNAL_DATABASE_URL=
DATABASE_URL=
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Razorpay Configuration
RZP_KEY_ID=your_razorpay_key_id
RZP_KEY_SECRET=your_razorpay_key_secret

# AWS S3 Configuration
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_BUCKET_NAME=your_s3_bucket_name

# Email Configuration (Brevo SMTP)
BREVO_SMTP_KEY=your_brevo_smtp_key

# Frontend Host (for password reset links)
FE_HOST=http://localhost:3000
