<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form class="form">
        <h1 class="formTitle" for="password">Reset Password</h1>
        <input type="password" id="password" required minlength="5" pattern="^(?=.*[a-z])(?=.*[A-Z]).{5,}$"/>
        <button type="button" class="blue large customBtn" id="btn">Submit</button>
    </form>
</body>
</html>